 #sidebar {
  z-index: 2;
  background: black;
  min-height: 500px;
  height: 100vh;
  display: none;
  color: white;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
 }

#me {
  margin: 10vh 0 0 0;
}

#me > img {
  border: 5px solid grey; 
  height: 30vh; 
  width: 30vh; 
  margin: 0 auto 20px auto;
  border-radius: 50%;
}

#me > h1 {
  width: 100%;
  font-size: 28px; 
  font-weight: bold;
  text-align: center;
  margin: 0;
}

#me > p {
  width: 100%;
  margin: 0;
  text-align: center;
}

#main-content {
  overflow-y: scroll; 
  overflow: -moz-scrollbars-none; 
  -ms-overflow-style: none; 
  height: 100vh;  
  display: block;
}

#wrapper.menuDisplayed #sidebar {
  display: block;
}

#wrapper.menuDisplayed #main-content {
  display: none;
}


/* Navbar styles */
.navi {
  display: block;
  margin-top: 5vh;
  margin-right: 15px;
  list-style: none;
  width: 100%;
}

/* Navbar individual element's styles */
.navi a {
  margin-top: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 80%;
  margin: 2px auto 0 auto;
}

/* Navbar individual element's active state and on hover styles */
.active, .navi a:hover {
  background: grey;
  color: black !important;
  text-decoration: none !important;
}

/* Social links styles */
.contact-info {
  display: flex;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  bottom: 10vh;
  list-style: none;
}

.contact-info a {
  color: white;
  display: block;
  height: 30px;
  width: 30px;
  font-size: 20px;
  margin: 10px;
  line-height: 1.3em;
  text-align: center;
  border-radius: 50%;
  transition: 500ms ease-out;
}

.contact-info a:hover {
  text-decoration: none;
  background: #fff;
  transform: rotate(360deg);
}

.contact-info a span {
  font-size: 0px;
}

.fa-github {
  background: #211f1f ;
}

.fa-github:hover, 
.fa-github:focus {
  color: #211f1f;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-linkedin:hover, 
.fa-linkedin:focus {
  color: #007bb5;
}

.fa-envelope-square {
  background: #dd4b39;
}

.fa-envelope-square:hover,
.fa-envelope-square:focus {
  color: #dd4b39;
}

#project {
  position: fixed;
  z-index: 3;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

#project-content {
  background: black;
  color: white;
  margin: auto;
  width: 80%;
  padding-bottom: 5%;
  margin-bottom: 15%;
  border-radius: 2%;
}

#project-content dt {
  padding-left: 2.5%;
}

#close {
  color: white;
  float: right;
  font-size: 36px;
  width: 40px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.project-button {
  width: 100%;
  padding: 3% 5%;
}

.img-container{
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 500ms ease;
}

.img-container:hover,
.img-container:focus {
  transform: scale(1.2);
 }

.img-container .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay span{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  font-weight: bold;
  transform: translate(-50%,-50%);
  color: #fff;
}

iframe {
  width: 95%;
  margin: 5% 2.5%;
  min-height: 400px;
}

#p-title {
  text-align: center;
}

#p-repo {
  display: block;
  text-align: center;
  widows: 100%;
  color: white;
  text-decoration: none;
}

#p-repo:hover {
  text-decoration: underline;
}

dd {
  padding-left: 10%;
}

.about-me {
  padding:  0% 5%;
  text-align: justify;
}

#toggle-menu {
  position: fixed;
  z-index: 3;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 50%;
}

::-webkit-scrollbar {
  display: none;
}

#cv ul, #cv dd, #cv dt, #cv li {
  width: 100%;
  padding-left: 10px;
}

#cv > dl > dt {
  margin-bottom: 0.5rem;
  padding: 0;
  margin: 0 -25px;
  font-weight: bold;
  border-bottom: 1px solid black;
  line-height: 1.2;
  font-size: 1.5rem;
}

#cv > dl > dd > ul > dl > li > dt {
  font-weight: bold;
}

#cv > dl > dt > ul >li {
  list-style: none;
}

#cv li, #cv dd {
  margin-left: 5px;
}

#download-btn-container {
  position: relative;
}

#download-btn-container a {
  font-size: 20px;
  position: absolute;
  margin-top: 100px; 
  text-decoration: none;
  bottom: 50px;
  right: 10px;
}

#page-title {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: white;
  margin: -15px -30px;
  padding: 0 0 0 15px;
  font-size: 2rem;
  border-bottom: 2px solid black; 
}

#page-content {
  margin: 75px 0 0 0;
  padding-left: 15px;
}

#email {
  text-decoration: none;
  color: black;
}

#email:hover {
  text-decoration: underline;
}

.page {
  padding: 15px;
}

@media (min-width: 768px) {
  #sidebar {
    display: block;
  }

  .contact-info {
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0 auto;
    justify-content: space-around;
  }
}